/0. Backup/
/2. Alpha/
/output/
/.idea/misc.xml
/.idea/.gitignore
/.idea/.name
/.idea/666. YoutubeDL.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
